.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.a {
    background: #e4a172;
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 2px 6px 15px 5px #b8b8bb;
}

.a_a h1 {
    font-family: "Roboto Condensed";
    color: white;
    font-size: 24px;
    text-align: center;
}

.a_b {
    margin-top: 2rem;
}

.a_b p {
    font-family: 'Poppins';
    color: white;
    font-size: 18px;
    text-align: justify;
}

.a_c {
    margin-top: 2rem;

    display: flex;
    justify-content: center;
}

.a_c_a {
    width: 40%;
    height: 50px;
    background: coral;
    border-radius: 30px;
    justify-content: center;
    display: flex;
}

.a_c_a p {
    margin: auto;
    color: white;
    font-family: "Roboto Condensed";
}

.b {
    width: 100%;
    height: 100px;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
}

.b img {
    width: 40%;
    height: 100%;
    object-fit: contain;
}