#navbar_my_style {
    background-color: rgba(255, 255, 255, 0.95);
    justify-content: center;
    display: flex;
    height: 8vh;
    box-shadow: 0 1px 5px rgb(0 0 0 / 25%);
    -webkit-animation: fade-in-top-2 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in-top-2 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.images {
    width: 100%;
    height: 100%;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.navbar {
    padding-top: 60px;
}

.a_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.a_center_pic {
    width: 20%;
    background: chocolate;
}

.a {
    background: chartreuse;
    width: 30%;
    height: 100%;
}